.MyCartIMAGE--div {
  border: 1px dashed transparent;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.MyCartIMAGE--div > img {
  width: 100%;
}

/* product part */

.cart--details--container {
  border: 1px solid transparent;
  width: 93vw;
  height: 53vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  padding: 5px 0px;
}
.products--full--detail--div {
  border: 2px dotted transparent;
  height: 85%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
/* #NumberOF--Product */
.products--full--detail--div > div:first-child {
  border: 1px solid;
  border-color: rgba(225, 225, 225, 1);
  width: 80%;
  overflow: auto;
  height: 40vh;
  padding: 4px;
}
.products--full--detail--div #middelbar {
  border: 1px solid transparent;
  height: 100%;
  width: 1px;
  background-color: rgba(225, 225, 225, 1);
}
/* price details part */
.products--full--detail--div > div:last-child {
  border: 1px solid transparent;
  width: 25%;
  height: 70%;
}
.each--product--div {
  border: 1px solid transparent;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}
.each--product--div > div {
  border: 1px solid transparent;
  /* height: 70%; */
  width: 15%;
}
.each--product--div > div * {
  margin: 0;
}
.each--product--div > div h5 {
  font-size: 12px;
}
.each--product--div > div p {
  font-size: 12px;
}
.each--product--div .product--image--div {
  width: 22%;
}
.each--product--div img {
  border: 1px solid black;
  border-radius: 5px;
  transform: scale(1);
  width: 13vw;
}

.product--modelColor--div > p {
  color: #a2a2a2;
  margin: 0;
  text-align: left;
}
.product--quantity--div > select {
  width: 7vw;
}

.product--quantity--div option {
  background-color: #e3e2e2;
}

.ProductDetails * {
  text-align: left;
  margin: 3px 0px;
}
.ProductDetails > div {
  border: 1px dashed transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}
.ProductDetails p {
  margin-top: 6px;
  font-weight: 400;
}
/* dotted nect div */
.Number--of--item--total {
  border: 1px dotted transparent;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: flex-end;
}
.item--price {
  border: 1px solid transparent;
  width: 45%;
  height: auto;
  display: flex;
  text-align: end;
  align-items: center;
  justify-content: space-between;
  margin-right: 7.3%;
}
.item--price p {
  margin: 0;
}

.total--amount {
  border: 1px dashed transparent;
  width: 23%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total--amount p {
  margin: 0;
}
.Place--order {
  border: 1px solid transparent;
  width: 88vw;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* margin-top: 20px; */
}
.Place--order > button {
  width: 19%;
  padding: 4px 0px;
  cursor: pointer;
  background-color: rgb(255, 214, 0);
  border-color: transparent;
  border-radius: 5px;
}

.products--full--detail--div > div {
  display: block;
}

.footerWEB--IMAGE {
  border: 2px dotted transparent;
  height: 50px;
  width: 100%;
  position: static;
  bottom: 0;
  margin-top: 5vh;
}

/* display none  */
.viewCart--SearchNav,
.productDetails--Container,
.Total--InBrown--page,
.viewcart--hr,
.mobile--TotalAmount--span,
.mobile--PLACEORDER,
.viewCart--FooterMobile {
  display: none;
}

@media screen and (max-width: 695px) {
  .cart--details--container {
    width: 100vw;
  }
  .each--product--div > div h5 {
    font-size: 10px;
  }
  .each--product--div > div p {
    font-size: 11px;
  }
  .each--product--div > div {
    border: 1px solid transparent;
    width: 19%;
  }
  .ProductDetails > div {
    border: 1px dashed transparent;
    font-weight: 500;
  }
  .ProductDetails p {
    margin-top: 6px;
    font-weight: 400;
    font-size: 12px;
  }
  .total--amount {
    font-size: 12px;
  }
  .Place--order {
    width: 100vw;
  }
  .Place--order > button {
    width: 22%;
  }
}

@media screen and (max-width: 404px) {
  .cart--details--container,
  .products--full--detail--div,
  .Place--order {
    height: auto;
    display: none;
  }
  .viewcart--NavBar,
  .viewcart--BannerAndCart,
  .viewcart--BackToProductBUTTON,
  .MyCartIMAGE--div {
    display: none;
  }
  /* mobile nav */
  .viewCart--SearchNav,
  .productDetails--Container,
  .Total--InBrown--page,
  .mobile--TotalAmount--span,
  .mobile--PLACEORDER {
    display: block;
  }
  .productDetails--Container {
    border: 2px solid transparent;
    width: 95vw;
    height: 60vh;
    margin: 10px auto 0px auto;
    padding: 1px;
    background-color: rgb(219, 219, 219);
    overflow: auto;
  }
  .productDetails--Container > div {
    border: 1px solid transparent;
    width: 97%;
    height: 130px;
    margin: 7px auto;
    display: flex;
    gap: 5px;
  }
  .productDetails--Container > div > div {
    border: 1px dashed transparent;
    width: auto;
    height: auto;
  }
  .mobileSize--image {
    background-color: white;
  }
  .mobileSize--image > img {
    height: 100%;
  }
  .mobileSize--Details * {
    margin: 0;
  }
  .mobileSize--ProductNameModel {
    font-size: 12px;
    font-weight: 400;
  }
  .mobileSize--ProductPrice {
    font-size: 14px;
  }
  .mobileSize--ProductQuantity,
  .mobileSize--ProductColour,
  .mobileSize--ProductStock {
    font-size: 11px;
  }
  .Total--InBrown--page {
    border: 3px solid transparent;
    width: 95vw;
    height: 12vh;
    background-color: rgb(219, 219, 219);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: auto;
  }
  .Total--InBrown--page > div {
    border: 2px dotted transparent;
    width: 60vw;
    height: 60%;
    padding: 2px;
  }
  .Total--InBrown--page > div p {
    font-size: 13px;
  }
  .Total--InBrown--page > div > div {
    border: 1px solid transparent;
    width: 100%;
    height: 48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .viewcart--hr {
    display: block;
    width: 95vw;
    margin: 15px auto;
    height: 0.6px;
    color: black;
    background-color: black;
  }
  .mobile--TotalAmount--span{
    margin-left: 2.5vw;
  }
  .mobile--TotalAmount {
    font-weight: 500;
  }
  .mobile--PLACEORDER {
    display: block;
    margin: 13px auto;
    width: 95vw;
    padding: 5px 0px;
    border-color: transparent;
    border-radius: 5px;
    background-color: rgb(255, 214, 0);
    cursor: pointer;
  }
  .viewCart--FooterMobile {
    display: block;
  }
}
