.successfulPAGE--logo--div{
    border: 1px solid blue;
    width: 100vw;
    height: auto;
    margin-top: 30px;
}
.successful--div {
  border: 1px solid #e3e3e3;
  width: 50vw;
  height: 62vh;
  margin: auto;
  margin-top: 7vh;
  text-align: center;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.successful--div img {
  display: block;
  margin: auto;
  margin-top: 9%;
}
.successful--div p {
  color: #969696;
  margin-top: 0;
}
h2 {
  margin-bottom: 0;
}

.successful--div .Link {
  display: block;
  margin: auto;
  margin-top: 3%;
  width: 35%;
  padding: 5px 0px;
  background-color: #2e0052;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.footerWEB--IMAGE {
    border: 2px dotted rgb(243, 10, 134);
    height: auto;
    width: 99vw;
    position: static;
    bottom: 0;
    left: 0;
  }
  