.logo--and--banner {
  border: 1px solid blue;
  width: 90vw;
  height: auto;
  margin: auto;
}
.logo--div {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 90px;
}
.space {
  width: 10px;
}
.logo--div > div:nth-child(1) {
  border: 2px solid black;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.viewcart {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.viewcart > img {
  width: 80px;
}
.Link {
  text-decoration: none;
  color: black;
}
