/* large screen footer responsive */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.footer-BigScreen {
/*   border: 2px dotted transparent; */
  display: block;
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-top: auto;
}
