.banner {
  border: 1px solid black;
  width: 90vw;
  margin: auto;
}
.banner > img {
  display: block;
  width: 100%;
  margin: auto;
  transform: scaleX(1) scaleY(0.8);
}

.search--div {
  border: 1px solid transparent;
  width: 90vw;
  height: auto;
  margin: 3px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
}
.search--div input,
.search--div form {
  border: 1px solid #c8c8c8;
  border-left: transparent;
  height: 100%;
  width: 100%;
  border-radius: 0px 15px 15px 0px;
  outline: none;
}
.searchicon {
  border: 1px solid #c8c8c8;
  width: 28px;
  height: 24px;
  padding: 7.2px;
  border-right: transparent;
  border-radius: 15px 0px 0px 15px;
}
.filtersANDSortings {
  border: 1px solid red;
  width: 90vw;
  height: 4vw;
  margin: auto;
  display: flex;
  align-items: center;
}
.filtersANDSortings > div {
  height: 100%;
  display: flex;
  align-items: center;
}
.filtersANDSortings > div > img {
  height: 70%;
  cursor: pointer;
}
.filtersANDSortings select {
  cursor: pointer;
  padding: 6px 2px;
  border-radius: 20px;
  margin-left: 10px;
  background-color: rgb(217, 217, 217);
  border-color: transparent;
  text-align: center;
  font-weight: 600;
}
option {
  background-color: white;
  text-align: center;
}
.Headphone--type {
  margin-left: 25px;
}
.Sort > select {
  border: 2px solid rgb(236, 236, 236);
  margin-left: 25vw;
  background-color: white;
  color: black;
  font-weight: normal;
}

/* allproduct container and Asingle--Product--container css */
.allProduct--container {
  border: 1px solid blue;
  width: 90vw;
  height: auto;
  margin: 10px auto;
  padding: 20px 0px;
}
.allProduct--container--Child {
  border: 2px dotted black;
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}
.Asingle--Product--div {
  border: 1px solid red;
  width: 200px;
  height: auto;
  font-weight: 600;
  padding: 10px 6px;
  margin-left: 0.5vw;
  font-size: 12px;
  cursor: pointer;
}

.Asingle--Product--div > .blueColor {
  width: 100%;
  height: 190px;
  background-color: rgb(212, 229, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cartDIV {
  border: 1px solid transparent;
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 3px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.fa-cart-plus {
  color: green;
  cursor: pointer;
}
.fa-cart-plus:hover {
  transform: scale(0.9);
}
.Asingle--Product--div > .blueColor > img {
  width: 75%;
}
.Asingle--Product--div p {
  margin: 1px;
  margin-left: 12px;
}

.footerWEB--IMAGE {
  border: 2px dotted red;
  height: 50px;
  width: 100%;
  position: static;
  bottom: 0;
  margin-top: 10vh;
}
.Details {
  display: none;
}
.HeadLine {
  display: none;
}
/* LineView--Activate css ============================*/

.LineView--Activate {
  border: 2px dotted black;
  width: auto;
  height: auto;
  margin: auto;
}

.LineView--Activate > .Asingle--Product--div {
  border: 1px solid red;
  width: 90%;
  height: 200px;
  font-weight: 600;
  padding: 10px 6px;
  margin-left: 0.5vw;
  font-size: 12px;
  display: flex;
  margin-top: 5px;
  align-items: center;
}
.LineView--Activate .blueColor {
  width: 20%;
  height: 100%;
  background-color: rgb(212, 229, 255);
  position: relative;
}
/* .blueColor img{
transform: scale(1);
} */
.LineView--Activate .productDetails {
  border: 1px dotted green;
  width: 50%;
  height: 90%;
  margin-left: 15px;
}
.LineView--Activate .productDetails p {
  margin-top: 7px;
  font-weight: 500;
}
.LineView--Activate .productName,
.LineView--Activate .model {
  font-weight: 700;
  font-size: 17px;
}
.LineView--Activate .Details {
  display: block;
  margin-left: 11px;
  border-radius: 20px;
  border-color: transparent;
  padding: 2px 13px;
  cursor: pointer;
  background-color: rgb(46, 0, 82);
  color: white;
  margin-top: 10px;
}
.LineView--Activate .HeadLine {
  border: 2px solid transparent;
  display: block;
  padding: 2px 0px;
}
