/* nav and banner section */
.homePage--BlankBlueNav {
  display: none;
}

.banner {
  border: 1px dotted transparent;
  width: 90vw;
  margin: auto;
}
.banner > img {
  display: block;
  width: 100%;
  margin: auto;
  transform: scaleX(1) scaleY(0.8);
}

/* search section   SEARCH SEARCH SEARCH SEARCH SEARCH*/
.homePage--search--div {
  border: 1px solid transparent;
  width: 90vw;
  height: auto;
  margin: 3px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
}
.homePage--search--div input,
.homePage--search--div form {
  border: 1px solid rgba(200, 200, 200, 1);
  border-left: transparent;
  height: 100%;
  width: 100%;
  border-radius: 0px 15px 15px 0px;
  outline: none;
}
.homePage--searchicon {
  border: 1.5px solid rgba(200, 200, 200, 1);
  width: 28px;
  height: 24px;
  padding: 7.3px;
  border-right: transparent;
  border-radius: 15px 0px 0px 15px;
}

/* LineView--Activate css START============================*/

.LineView--Activate {
  border: 2px dotted transparent;
  width: auto;
  height: auto;
  margin: auto;
}

.LineView--Activate > .Asingle--Product--div {
  border: 1px solid transparent;
  width: 85vw;
  height: 40vh;
  font-weight: 600;
  padding: 0px;
  margin-left: 0.5vw;
  font-size: 11px;
  display: flex;
  margin-top: 0px;
  align-items: center;
}
.LineView--Activate > div .blueColor {
  border: 1px dotted transparent;
  width: 200px;
  height: 72%;
  background-color: rgb(212, 229, 255);
  position: relative;
}
/* .LineView--Activate img {
} */
.LineView--Activate .productDetails {
  border: 1px dashed transparent;
  width: 75%;
  /* height: 90%; */
  margin-left: 2%;
}
.LineView--Activate .productDetails p {
  border: 1px dotted transparent;
  margin-top: 0.5%;
  font-weight: 500;
}
.LineView--Activate .productName,
.LineView--Activate .model {
  font-weight: 700;
  font-size: 15px;
}
.LineView--Activate .HeadLine {
  border: 2px solid transparent;
  display: block;
  padding: 2px 0px;
}
.LineView--Activate .Details {
  display: block;
  margin-left: 1.3%;
  border-radius: 20px;
  border-color: transparent;
  padding: 2px 13px;
  cursor: pointer;
  background-color: rgb(46, 0, 82);
  color: white;
  margin-top: 2%;
}

/* LineView--Activate css END============================>*/

/* filter and sorting  css start *****************************/
/* filters abd sortings ection ***/
.filtersANDSortings {
/*   border: 1px solid transparent; */
  width: 90vw;
  height: 7.2vh;
  margin: 18px auto 5px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

.icon--and--filters--div {
/*   border: 1px dotted transparent; */
  width: auto;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2px;
  gap: 10px;
  order: 0;
}
/* gris and list icons container */
/*it referencing to grid--line--icons div*/
.icon--and--filters--div > div:first-child {
/*   border: 1px solid transparent; */
  width: auto;
  height: 80%;
  display: flex;
  justify-content: space-around;
}
.grid--line--icons > img {
/*   border: 1px solid transparent; */
  height: 100%;
}
/*it referencing to Four--filters--div */
.icon--and--filters--div > div:last-child {
/*   border: 1px solid transparent; */
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Four--filters--div > select {
  display: block;
  height: 80%;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(217, 217, 217);
  font-weight: bold;
  border-color: transparent;
  margin-left: 10px;
}
/* sorting div */
.only-sorting--div {
/*   border: 1px dotted transparent; */
  width: auto;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
}
.only-sorting--div > select {
  border: 2px solid rgb(236, 236, 236);
  height: 80%;
  border-radius: 20px;
  width: auto;
  text-align: center;
}

/* product section  */

/* allproduct container and Asingle--Product--container css */

.allProduct--container {
/*   border: 1px solid transparent; */
  width: 90vw;
  height: auto;
  margin: 0px auto 60px auto;
 
}
.allProduct--container--Child {
/*   border: 2px dotted transparent; */
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.Asingle--Product--div {
/*   border: 1px solid transparent; */
  width: 215px;
  height: auto;
  font-weight: 600;
  padding: 10px 6px;
  margin-left: 3%;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.Asingle--Product--div > .blueColor {
/*   border: 1px solid transparent; */
  width: 100%;
  height: 210px;
  background-color: rgb(212, 229, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cartDIV {
/*   border: 1px solid transparent; */
  width: 22px;
  height: 22px;
  background-color: white;
  position: absolute;
  bottom: 3px;
  right: 3px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.fa-cart-plus {
/*   border: 1px solid transparent; */
  color: green;
  cursor: pointer;
}
.fa-cart-plus:hover {
  transform: scale(0.9);
}
.Asingle--Product--div > .blueColor > img {
  width: 76%;
}
.Asingle--Product--div p {
  margin: 2px;
  margin-left: 12px;
}

.FooterMobile {
  display: none;
}

.Details {
  display: none;
}
.HeadLine {
  display: none;
}
/* *********************************************************** */
@media screen and (max-width: 1000px) {
  .Asingle--Product--div {
/*     border: 1px solid transparent; */
    width: 19%;
    margin-left: 1.5%;
  }
  .Asingle--Product--div > .blueColor > img {
    width: 15vw;
    height: 90%;
  }
  .Asingle--Product--div > .blueColor {
/*     border: 1px solid transparent; */
    height: 130px;
    padding: 1vh 0px;
  }
}

@media screen and (max-width: 551px) {
  .BannerAndCart,
  .home--Page--NavBar {
    display: none;
  }
  .homePage--BlankBlueNav {
    display: block;
/*     border: 1px solid transparent; */
    width: 100vw;
    background-color: rgba(46, 0, 82, 1);
    height: 75px;
  }

  .banner {
    width: 97vw;
    padding: 5px 0px;
    margin-top: 3vh;
  }
  .banner > img {
    transform: scale(1);
  }

  /* search css for small screen ******** */
  .homePage--search--div {
    position: absolute;
    top: 3vh;
    margin-left: 5%;
    background-color: white;
    border-radius: 4px;
  }
  .homePage--search--div input,
  .homePage--search--div form {
    height: 100%;
    width: 100%;
    border-color: transparent;
  }
  .homePage--searchicon {
    width: 28px;
    height: 24px;
    padding: 7.3px;
    border-radius: 5px 0px 0px 5px;
    border-color: transparent;
  }

  .filtersANDSortings {
    width: 98vw;
    margin-top: 1vh;
  }
  .icon--and--filters--div {
    order: 1;
  }
  .only-sorting--div {
    order: 0;
  }

  .icon--and--filters--div > div:first-child {
    display: none;
  }
  /* ****************** */

  .allProduct--container {
/*     border: 1px solid transparent; */
    width: 98vw;
  }
  .allProduct--container--Child {
/*     border: 1px dotted transparent; */
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    grid-row: 5px;
  }
  .Asingle--Product--div {
/*     border: 1px solid transparent; */
    width: 44%;
    height: auto;
    font-weight: 600;
    padding: 12px 4px;
    margin-left: 0;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
  }
  .Asingle--Product--div > .blueColor > img {
    width: 75%;
    height: 87%;
  }
  .Asingle--Product--div > .blueColor {
/*     border: 1px solid transparent; */
    height: 192px;
    padding: 0px;
  }

  .home--footerWEB--IMAGE {
    display: none;
  }
  .FooterMobile {
    display: flex;
  }

  /* LineView--Activate css START============================*/
  .LineView--Activate > .Asingle--Product--div {
/*     border: 1px solid transparent; */
    width: 95vw;
    height: 40vh;
  }
  .LineView--Activate > div .blueColor {
    width: 200px;
    height: 75%;
  }

  .LineView--Activate .productDetails {
/*     border: 1px dashed transparent; */
    width: 75%;
    /* height: 90%; */
    margin-left: 2%;
  }

  .LineView--Activate .Details {
    margin-left: 5%;
  }

  /* LineView--Activate css END============================>*/
}
@media screen and (max-width: 480px) {
  .Asingle--Product--div {
    border: 1px solid rgba(206, 206, 206, 1);
    padding: 0;
  }
  .Asingle--Product--div > .blueColor {
    height: auto;
    padding: 9px 0px;
  }
  .Asingle--Product--div > .blueColor > img {
    width: 80%;
    height: 78%;
  }
  .allProduct--container {
/*     border: 2px solid transparent; */
  }
}
@media screen and (max-width: 300px) {
  .Asingle--Product--div {
    width: 85%;
    height: 85%;
  }
  .Asingle--Product--div > .blueColor > img {
    width: 89%;
    height: 98%;
  }
}
