.circle--arrow--div,
.smaller--screen--BuyNow,
.productDetails--FooterMobile,
.productDetails--SearchNav {
  display: none;
}

.Productheadline {
  border: 1px dashed transparent;
  width: 90vw;
  margin: auto;
}
.PhotoANDdetails {
  border: 1px solid transparent;
  width: 90vw;
  height: auto;
  margin: 20px auto 70px auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
/* .PhotoANDdetails > div {
  border: 1px dotted red;
  width: 45%;
  height: auto;
} */
/* .PhotoANDdetails * {
  margin: 0;
} */

.PhotoANDdetails > div:nth-child(1) {
  border: 1px dotted transparent;
  width: 35%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.productPhoto > img {
  border: 3px solid black;
  display: block;
  width: 68%;
  height: auto;
  border-radius: 5px;
  display: block;
  margin: auto;
}
.PhotoANDdetails > div:nth-child(2) {
  border: 1px dotted transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 49%;
  height: auto;
  /* transform: scale(0.8); */
  margin: 0;
}

.RatingsIcon--div {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
}
.RatingsIcon--div {
  color: rgb(255, 214, 0);
}
.RatingsIcon--div > p {
  color: black;
  margin-left: 2%;
}
.price {
  border: 1px solid transparent;
  font-weight: 600;
}
.ProductColor--name {
  border: 1px solid transparent;
  font-size: 14px;
}
.Available,
.Brand {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
}
.Aboutitem {
  border: 1px solid transparent;
  padding: 0px 10px;
}
.Aboutitem > li {
  border: 1px dotted transparent;
  margin-top: 4px;
  font-weight: 400;
}
.ThreeIMG {
  border: 1px solid transparent;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.ThreeIMG > img {
  border: 1px solid black;
  width: 30%;
  height: auto;
  border-radius: 5px;
}
.PhotoANDdetails > div:nth-child(2) * {
  margin: 0px;
}
.Button {
  padding: 5px 0px 0px 0px;
}
.Button > button {
  display: block;
  width: 17vw;
  padding: 3px 0px;
  border-radius: 20px;
  border-color: transparent;
  cursor: pointer;
}
.Button > button:first-child {
  background-color: rgb(255, 214, 0);
}
.Button > button:last-child {
  background-color: rgb(255, 184, 0);
  margin-top: 6px;
}

/* Product details divs fort size adjustment */
.item--Name--model {
  font-weight: 600;
}
.RatingsIcon--div {
  font-size: 11px;
  font-weight: 400;
}
.price {
  font-size: 13px;
  font-weight: 500;
}
.ProductColor--name {
  font-size: 13px;
  font-weight: 400;
}
.About--item--heading {
  font-size: 12px;
}
.Aboutitem {
  font-size: 11px;
  font-weight: 400;
}
.Available > h4,
.Brand > h4 {
  font-size: 13px;
}
.Available > p,
.Brand > p {
  font-size: 13px;
}
.Button > button {
  font-size: 13px;
}

@media screen and (max-width: 790px) {
  .PhotoANDdetails > div:nth-child(1) {
    border: 2px dotted transparent;
    width: 50%;
  }
  .productPhoto > img {
    width: 97%;
  }
  .Button > button {
    width: 25vw;
    padding: 3px 0px;
  }
}
@media screen and (max-width: 544px) {
  .Productheadline {
    border: 1px dashed transparent;
    width: 98vw;
    margin: auto;
    font-size: 12px;
  }
  .PhotoANDdetails {
    border: 1px solid transparent;
    width: 98vw;
  }
  .PhotoANDdetails > div:nth-child(1) {
    border: 2px dotted transparent;
    width: 40%;
  }
  .PhotoANDdetails > div:nth-child(2) {
    border: 3px dotted transparent;
    width: 55%;
    height: auto;
  }
}
@media screen and (max-width: 434px) {
  .productDetails--NavBar,
  .productDetails--BannerAndCart,
  .productDetails--BackToProductBUTTON,
  .Productheadline,
  .productDetails--footerWEB--IMAGE {
    display: none;
  }
  .productDetails--SearchNav {
    display: block;
  }
  /* circle arrow */
  .circle--arrow--div {
    display: block;
    margin-top: 8px;
  }
  .smaller--screen--BuyNow {
    display: block;
    border: 1px solid transparent;
    margin: 10px auto;
    text-align: center;
    width: 70%;
    padding: 5px 0px;
    border-radius: 5px;
    background-color: rgb(255, 184, 0);
  }
  .PhotoANDdetails {
    display: block;
  }
  .PhotoANDdetails > div {
    margin: auto;
  }
  .PhotoANDdetails > div:nth-child(1) {
    border: 2px dotted transparent;
    width: 80%;
  }
  /* .productPhoto > img {
    border: 3px solid black;
  } */
  .PhotoANDdetails > div:nth-child(2) {
    border: 3px dotted transparent;
    width: 95%;
    margin: auto;
    margin-top: 20px;
  }
  .PhotoANDdetails > div:nth-child(2) * {
    padding: 1.5px 0px;
  }
  .ThreeIMG {
    display: none;
  }
  .Button {
    border: 2px dotted transparent;
    margin: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Button > button {
    width: 70%;
    padding: 5px 0px;
    border-radius: 5px;
  }
  /* navbar for smaller screen */
  .productDetails--FooterMobile {
    display: block;
  }
}
